bottle>=0.12
gunicorn>=19.9.0
psycopg2>=2.8.2
tqdm>=4.32.1
bcrypt>=3.1.6
netifaces>=0.10.9
python-dateutil
Pillow>=2.2.1
numpy>=1.16.4

# for the AI backend:
# celery[librabbitmq,redis,auth,msgpack]>=4.3.0  #TODO

# for built-in models (NOTE: we don't need it for Docker, as it is handled by the source):
# pytorch>=1.1.0
# torchvision>=0.3.0